/*remove default padding and borders*/
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: mont-reg;
}  

/*fonts*/
@font-face{
    font-family: 'mont-reg'; 
    src: url(Montserrat-Regular.ttf);
}

#container {
    display: flex; 
    flex-direction: row; 
    height: 100%; 
    width: 100%;
} 

#col1 { 
    height: 100vh;
    width: 50%; 
    background-color: #200933;
    align-items: center; 
    justify-content: center; 
    text-align: right; 
    color: #ffffff;
} 

#col1 p {
    font-size: 100px; 
    font-family: mont-reg; 
    animation: ease-in 1s fadeIn;
}

#line-white {
    width: 600px; 
    height: 10px; 
    background-color: #ffffff;
    margin: -20px 0px 0px 200px; 
    animation: ease-in 1s slideFromLeft;
} 

#col2 {
    margin-top: 380px; 
}

#rest {
    font-size: 100px; 
    font-family: mont-reg;
    margin-top: -380px; 
    color: #200933;
    animation: ease-in 1.5s fadeIn2;
} 

#line-purple {
    width: 600px; 
    height: 10px; 
    background-color: #200933;
    margin: -20px 0px 0px 0px; 
    animation: ease-out 2s slideFromLeft2;
}

@keyframes slideFromLeft2{
    0% {
        width: 0px;
    } 

    50% {
        width: 0px;
    } 

    100% {
        width: 600px;
    }
}

@keyframes slideFromLeft {
    0% {
        width: 0px;
    } 

    100% {
        width: 600px;
    }
} 

@keyframes slide {
    0% {
        margin-left: -190px;
    }

    50% {
        margin-left: 0px;
    }

    100% {
        margin-left: -190px;
    }
}

@keyframes align {
    0% {
        margin-left: -290px;
    } 

    50% {
        margin-left: 0px;
    }

    100% {
        margin-left: -290px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 

    100% {
        opacity: 1;
    }
} 

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    } 

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#img {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    border: 20px solid #200933; 
    margin: 250px 0px 0px -720px; 
    background-color: #ffffff; 
    justify-content: center; 
    align-items: center; 
    justify-items: center;
}  

#img img { 
    height: 200px;
    width: 200px;
    border-radius: 50%; 
    margin: 5px 0px 0px 5px;
}

.navigation {
    margin-top: 200px; 
}    

.nav-list {
    list-style: none; 
    text-decoration: none; 
    font-size: 20px; 
    color: #000000;
    font-family: mont-reg; 
    font-weight: bold;
    justify-content: space-between;
} 

.nav-list li {
    padding: 10px 10px; 
    background-color: #ffffff;  
    margin-bottom: 5px;
    margin-left: -190px; 
    text-align: center; 
    width: 200px;
    transition: margin-left 0.3s ease-in-out; 
    animation: ease-in-out 0.75s slide;
}  

.nav-list li:hover {
    margin-left: 0px; 
} 

#qualif {
    width: 300px; 
    margin-left: -290px; 
    transition: margin-left 0.3s ease-in-out; 
    animation: ease-in-out 0.75s align;
} 

#qualif:hover {
    margin-left: 0px;
}
